@import "./window.scss";

.settings {
  padding: 20px;
  overflow: auto;
}

.settings-title {
  font-size: 14px;
  font-weight: bolder;
}

.settings-sub-title {
  font-size: 12px;
  font-weight: normal;
}

.avatar {
  cursor: pointer;
}

.img-ibaozi-container {
  text-align: center;
}

.img-ibaozi {
  border: var(--border-in-light);
  border-radius: 20px;
  background-color: var(--white);
  width: var(--window-content-width);
  max-width: 360px;
}